@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /*Palheta de cores*/
    --cor0:#5D96A9;    
    --cor1:#16537B;
    --cor2: #16537B; 
    --cor3: #FF6723;
    --cor4: #ff5100;/*D18000*/

    /*Fontes*/
    --fonte-text: 'Poppins', sans-serif;    ;
    --fonte-display: 'Wix Madefor Display', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    padding-top: 30px;
    padding-left: 50px;
    height: 150px;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(to bottom, rgb(245, 245, 255), white);
    z-index: 9999999;
    box-shadow: inset 0px .5px 10px .5px rgba(0, 0, 0, 0.095);
}

#cab1{
    text-align: center;
    font-family: var(--fonte-text);
    font-weight: 400;
    font-size: 1em;
}

#cab1 > h1 > span{
    font-size: 0.7em;
}

#cab1 h2{
    font-family: var(--fonte-text);
}

#hamb{
    margin: 10px 0px;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

#cab2{
    padding-top: 30px;
    font-family: var(--fonte-text);
    font-weight: 300;
    font-size: 0.9em;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.667);
}

#cab2 > ul{
    list-style-type: none;
    text-align: center;
    

}

nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

nav#cab2 a:hover{
    color: var(--cor3);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.242);
    transition: color .3s, text-shadow .2s;
}










.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 81%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  /* Then style the iframe to fit in the container div with full height and width */
.frame1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }










div#esquerda{
    margin-top: 50px;
    background-color: var(--cor1);
    display: inline-block;
    width: 40%;
    min-width: 160px;
    height: 770px;
    box-shadow: -6px 4px 15px 1px rgba(0, 0, 0, 0.273);
}

div#conteudo-esquerda{
    background-color: var(--cor0);
    width: 400%;
    max-width: 60%;
    min-width: 200px;
    margin: 60px 0px auto 45%;
    padding-right: 0px;
    box-shadow: -6px 4px 15px 1px rgba(0, 0, 0, 0.204);
    
}

 .eu{
    width: 80%;
    max-width: 300px;
    margin: 25px 0px 30px 40px;
 }

 div#conteudo-esquerda > h2{
    font-family: var(--fonte-text);
    text-align: center;
    margin-bottom: 30px;
}

div#conteudo-esquerda > hr{
    width: 20%; 
    margin: auto;
    border:none;
    height: 2px;
    background: var(--cor3);
}

div#conteudo-esquerda > p{
    font-family: var(--fonte-text);
    text-align: center;
    margin: 30px 20px 10px 20px;
}

div#minifooter{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    padding: 10px;
}

div#minifooter img{
    width: 90%;
    height: 90%;
}










div#conteudo-direita{
    margin-left: 40px;
    display: inline-block;
    padding-left: 0px;
    width: 23%;
    min-width: 260px;
}
div#conteudo-direita h1{
    font-family: var(--fonte-text);
    font-size: 600%;
    margin-bottom: 30px;
    text-align: center;

}

div#conteudo-direita h2{
    font-family: var(--fonte-text);
    font-weight: normal;
    margin-bottom: 50px;
}

div#cupro{
    display: flex;
    justify-content: center
}

a.curriculo{
    text-align: center;
    text-decoration: none;
    border-style: inset;
    border-color: var(--cor4);
    background-color: var(--cor3);
    color: white;
    border-radius: 25px 25px 25px 25px;
    font-size: 1.2em;
    margin: 0px 30px 30px 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.347);
    padding: 5px;
}

a.curriculo:hover{
    background-color: white;
    color: black;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.519);
    transform: translate(-2px, -2px);
    transition: transform .2s, box-shadow .5s;
    
}

a.projetos{
    text-align: center;
    text-decoration: none;
    border-style: inset;
    border-color: var(--cor4);
    color: black;
    border-radius: 25px 25px 25px 25px;
    font-size: 1.2em;
    margin: 0px 30px 30px 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.347);
    padding: 5px;
}

a.projetos:hover{
    background-color: var(--cor3);
    color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.519);
    transform: translate(-2px, -2px);
    transition: transform .2s, box-shadow .5s;
}

div#conteudo-direita p{
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fonte-text);
}

p.fct a{
    text-decoration: none;
    color: var(--cor2);
}

p.fct a:hover{
    text-decoration: underline;
}







footer{
    text-align: center;
    font-family: var(--fonte-text);
    font-size: 0.8em;
    background-color: white;
}

div#telefone{
    display: inline-block;
    font-size: 0.8em;
}

div#email{
    display: inline-block;
    font-size: 0.8em;
}

div#redes{
    display: inline-block;
    font-size: 0.8em;
}
div#redes img{
    width: 15px;
    height: 15px;
}

div#pe{
    display: flex;
    justify-content: space-between;
}